<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="item-menu-catalogue"><%= link_to 'Agregar aeronaves',new_aircraft_path %></li>
    <li class="item-menu-catalogue"><%= link_to 'Agregar sistemas',new_system_path %></li>
    <li class="item-menu-catalogue"><%= link_to 'Agregar componentes',new_component_path %></li>
    <li class="item-menu-catalogue"><%= link_to 'Agregar inspecciones',new_inspection_path %></li>
  </ul>
</div>
